.first,
.second,
.third {
  position       : absolute;
  width          : 80%;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
  border         : 1px solid black;
  top            : 6vh;
  border-radius  : 3rem;
}

.bigtext,
.mediumtext,
.smalltext {
  color: antiquewhite;
}

.bigtext {
  font-size: 5rem;
}

.mediumtext {
  font-size: 4rem;
}

.smalltext {
  font-size: 3rem;
}

.ullist {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.ullistcenter {
  display       : flex;
  flex-direction: column;
}

.smalluserinfo,
.biguserinfo {
  padding        : 1rem 0rem;
  list-style-type: none;
  color          : white;
}

.smalluserinfo {
  font-size: 1.3rem;
}

.biguserinfo {
  font-size: 2rem;
}

.inactive {
  display: none;
}

.first {
  background-color: rgb(21, 148, 99);
}

.second {
  background-color: rgb(202, 11, 123);
}

.third {
  background-color: rgb(202, 183, 11);
}