.first,
.second,
.third {
  position       : absolute;
  width          : 80%;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
  border         : 1px solid black;
  top            : 6rem;
  border-radius  : 3rem;
}

.modal-window h1,
ul {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

h1 {
  font-size: 3rem;
  color    : white;
}

ul li {
  padding        : 1rem 0rem;
  list-style-type: none;
  font-size      : 1.3rem;
  color          : white;
}

.modal-window.active {
  opacity: 1;
}

.inactive {
  display: none;
}

.first {
  background-color: rgb(21, 148, 99);
}

.second {
  background-color: rgb(202, 11, 123);
}

.third {
  background-color: rgb(202, 183, 11);
}