.output-wrapper {
  position: relative;
  border  : 2px solid black;
  width   : inherit;
  height  : auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content-item {
  width          : 100%;
  height         : 100%;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  display        : flex;
  padding        : 2rem 0rem;
}

.output-wrapper .inactive {
  display: none;
  border : none;
}

.content-item:nth-child(2)> h2 {
  display: none;
}