.root {
  padding: 0.5rem 1.5rem;
}

.primary {
  background-color: rgb(41, 194, 130);
  color           : white;
  padding         : 0.2rem 0.5rem;
  font-size       : 2vw;
  cursor          : pointer;
  border-radius   : 15px;
  border-color    : rgb(41, 194, 130);
}

.secondary {
  background-color: rgb(13, 92, 212);
  color           : white;
  padding         : 1rem 7rem;
  border-radius   : 40px;
  font-size       : 2vw;
  margin          : 2rem 0rem 4rem 0rem;
  cursor          : pointer;
}

.tertiary {
  display: none;
}