.post_wrapper {
  border: 1px solid black;
  margin: 2rem 0rem;

  .news_title,
  .news_body {
    padding: 0rem 2rem;
  }
}

.page_counter {
  text-align: center;

  span {
    font-size: 4rem;
    color    : rgb(226, 17, 17);
  }
}