@font-face {
  font-family: 'Briem Script STD';
  src: url('../../Fonts/Briem/BriemScriptStd-Bold.otf');
}

@font-face {
  font-family: 'Inter';
  src: url('../../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

.section {
  display: flex;
  justify-content: flex-start;
  margin-top: 4vw;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid black;
  margin: 0vw 3vw 2vw 0vw;
  background: cover !important;
}

.city_Date_TypeOfWeather {
  display: flex;
  justify-content: space-between;
}

.cityAndDate {
  display: flex;
  flex-direction: column;
}

.title,
.date {
  margin: 0.5vw 0vw;
  text-align: start;
}

.typeOfWeatherWrapper {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.typeOfWeather {
  display: flex;
  align-items: center;
}

.typeOfWeather img {
  width: 6vw;
  height: 6vw;
}

.temperatureData {
  display: flex;
  align-items: flex-start;
}

.typeOfTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.typeOfTemp h1,
.typeOfTemp span {
  color: #ffffff;
  font-family: 'Inter';
  font-size: 1vw;
}

.celsius,
.fahrenheit {
  cursor: pointer;
}

.typeOfTemp div {
  margin: 0vw 0.5vw;
}

.temperatureValue {
  font-size: 3vw;
  font-weight: bold;
  margin: 0;
}

.active {
  font-weight: bold;
}

.mainData {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.anotherValues {
  width: 30%;
}

.anotherValues div {
  display: flex;
  justify-content: flex-end;
}

.fuck {
  background-color: blue;
}